.Conect1{
    width: 50%;
    height: 500px;
    box-shadow: 2px 2px 5px;
    margin: 40px auto;
    border-radius: 1rem;
    
}

.Conect1 h1{
    text-align: center;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 30px;
}

.Conect1 p{
    direction: rtl;
    padding-top: 80px;
    text-align: center;
}

.Conect2{
    text-align: center;
    margin-top: 5px;
}

.Conect3{
    padding: 40px;
}